body{
    margin: 0;
    padding: 0;
    background: url(Lions.jpg) no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
} */

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}

ul{
    margin: 5;
    padding: 5;
}

.box li{
    /* display: inline-block; */
    margin: 6px;
}

.box li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* #project.box a{
    color: white;
    font-size: 15px;
    text-decoration: underline;
} */
